<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.diceroll" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dice Roll</name>
    <description>Application de Dice Roll simple en HTML/CSS/JS</description>
    <author email="wahab.inf@gmail.com">Ramdani Abdelouahab</author>

    <!-- صفحة البداية -->
    <content src="index.html"/>

    <!-- الصلاحيات العامة -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- ✅ الأيقونة الافتراضية للتطبيق -->
    <icon src="res/icons/icon.png" />

    <!-- ✅ إعدادات خاصة بالأندرويد -->
    <platform name="android">
        <!-- أيقونة التطبيق (مختلفة حسب الكثافة إن أردت) -->
        <icon density="mdpi" src="res/icons/icon.png" />

        <!-- ⚡️ سبلاش جديد لأندرويد 12+ -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/splash/splashicon.png" />
        <preference name="BackgroundColor" value="#FFFFFF" />
    </platform>
</widget>
